.tag-item {
  background-color: #77dd77;
  border-radius: 100px;
  display: inline-block;
  padding: 4px 16px 4px 16px;
  margin-left: 4px;
  text-transform: uppercase;
  font-weight: 550;
  color: #ffffff;
  float: right;
}
