.listPane {background-color: rgba(0,0,0,0.01); height: 100vh; padding-right: 0px !important; padding-left: 0px !important;}
.detailPane {background-color: white; height: 100vh; padding: 0px !important;}
.viewContainer {z-index: 0; position: relative;}
