/* FAB */

.mdc-fab {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 16px;
  background-color: #8c9ffe;
  color: #000000
}

.mdc-fab {
    -webkit-box-shadow: 0 6px 7px 0px rgba(140,159,254,.4), 0 9px 12px 0 rgba(140,159,254,.34), 0 4px 20px 0 rgba(140,159,254,.32);
    box-shadow: 0 3px 5px -1px rgba(140,159,254,.4), 0 6px 10px 0 rgba(140,159,254,.34), 0 1px 18px 0 rgba(140,159,254,.32);
    -webkit-transition: opacity 15ms linear 30ms,-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-transform .27s cubic-bezier(0,0,.2,1) 0ms;
    transition: opacity 15ms linear 30ms,-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-transform .27s cubic-bezier(0,0,.2,1) 0ms;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1),opacity 15ms linear 30ms,transform .27s cubic-bezier(0,0,.2,1) 0ms;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1),opacity 15ms linear 30ms,transform .27s cubic-bezier(0,0,.2,1) 0ms,-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-transform .27s cubic-bezier(0,0,.2,1) 0ms;
}

.mdc-fab:focus, .mdc-fab:hover {
    -webkit-box-shadow: 0 5px 5px -3px rgba(140,159,254,.4), 0 8px 10px 1px rgba(140,159,254,.34), 0 3px 14px 2px rgba(140,159,254,.32);
    box-shadow: 0 5px 5px -3px rgba(140,159,254,.4), 0 8px 10px 1px rgba(140,159,254,.34), 0 3px 14px 2px rgba(140,159,254,.32);
}
