.list-container {
  overflow-y: scroll;
  height: calc(100vh - 56px);
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: rgba(0,0,0,0.009);
}

::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	background-color: rgba(0,0,0,0.3);
}
