.list-container {
  overflow-y: scroll;
  height: calc(100vh - 56px);
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	background-color: rgba(0,0,0,0.3);
}
