.listPane {background-color: rgba(0,0,0,0.03); height: calc(100vh - 56px); padding-right: 0px !important; padding-left: 0px !important;}
.detailPane {background-color: white; height: calc(100vh - 56px);}
.viewContainer {z-index: 0; position: relative;}
